<!-- En-tête Supérieure -->
<div class="top-header d-flex justify-content-between align-items-center px-4 py-2" style="background-color: #ffffff; border-bottom: 2px solid #4b0145;">
  <div class="logo">
    <a routerLink="/pets" class="d-flex align-items-center text-decoration-none">
      <img src="assets/images/logo.jpg" alt="Logo PetPlace" style="height: 30px; margin-right: 8px;">
      <span class="fs-4 fw-bold" style="color: #4b0145;">PawFinder</span>
    </a>
  </div>
  
  <div *ngIf="!userName"> 
      <button class="btn btn-danger rounded-pill me-2" routerLink="/login">Se Connecter</button>
      <button class="btn btn-success rounded-pill" routerLink="/register">S'inscrire</button>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">PawFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="isAdmin; else nonAdminLinks">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Gestion des Utilisateurs</a>
          </li>
         
        </ng-container>

        <ng-template #nonAdminLinks>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="isLoggedIn && this.isRefuge" routerLink="/pets/add">Ajouter un Animal</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/forum" *ngIf="isLoggedIn">Forums</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/adoption-requests"*ngIf="isLoggedIn && this.isRefuge" >Gérer les Animaux Demandés</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/user-adoption-requests"*ngIf="isLoggedIn">Gérer les Demandes d'Adoption</a></li>
         <!-- Gestion des Utilisateurs - Visible only for Admins -->
         <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/user-management" *ngIf="isLoggedIn">Gestion des Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-animals" *ngIf="isLoggedIn && this.isRefuge">Mes Animaux</a>
        </li>
      </ng-template>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/pets/list">Animaux à Adopter</a>
      </li>
      </ul>
      
  
      <ul class="navbar-nav ms-auto">
          <ng-container *ngIf="userName">
            <!-- Menu déroulant pour utilisateur connecté -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Bienvenue, {{ userName }} !
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Se Déconnecter</a></li>
              </ul>
            </li>
          </ng-container>
      </ul>
    </div>
  </div>
</nav>
