<div class="container-fluid py-5" style="background-color: #f8f9fa;">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="https://www.petplace.com/pet-adoption/media_1740aa105bbc41052f254093d1112ead04d221c37.jpeg?width=2000&format=webply&optimize=medium" alt="Parent d'Animal" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h1 class="display-4 fw-bold">Découvrez la Joie de Devenir Parent d'un Animal</h1>
      <p class="lead">Recherchez des animaux adoptables en un seul endroit.</p>
      <app-search-form></app-search-form>
    </div>
  </div>
</div>
