<div class="container-fluid py-5" style="background-color: #f8f9fa;">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="https://www.petplace.com/pet-adoption/media_1740aa105bbc41052f254093d1112ead04d221c37.jpeg?width=2000&format=webply&optimize=medium" alt="Pet Parent" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <h1 class="display-4 fw-bold">Unlock the Joy of Pet Parenthood</h1>
        <p class="lead">Search adoptable pets all in one place.</p>
        <app-search-form></app-search-form>
      </div>
    </div>
  </div>
  