<div class="container mt-5">
  <h3>Demandes d'Adoption</h3>

  <div *ngIf="adoptionRequests.length === 0">
    <p>Aucune demande d'adoption disponible.</p>
  </div>

  <div *ngFor="let request of adoptionRequests" class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Demande d'Adoption pour {{ request.pet.name }}</h5>
      <p class="card-text">Demandé par : {{ request.user.nom }}</p>
      <p>Raison : {{ request.reasonForAdoption }}</p>
      <p>Statut : {{ request.status }}</p>

      <div class="d-flex justify-content-start" *ngIf="request.status === 'PENDING'">
        <button class="btn btn-success me-2" (click)="acceptRequest(request.id)">Accepter</button>
        <button class="btn btn-danger" (click)="rejectRequest(request.id)">Refuser</button>
      </div>
    </div>
  </div>
</div>
