<div class="container mt-5">
    <h2>Mon Profil</h2>
  
    <!-- Profile Display -->
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title">Détails du Profil</h4>
        <p><strong>Nom :</strong> {{ user.nom }}</p>
        <p><strong>Adoption Situation</strong>: {{ user.adoptionSituation }}</p>
        <p><strong>Contact</strong>: {{ user.contact }}</p>

        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal"  (click)="editProfile()">Modifier le Profil</button>
      </div>
    </div>
  
    <!-- Profile Edit Modal -->
    <div
      class="modal fade"
      id="editProfileModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editProfileModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProfileModalLabel">Modifier le Profil</h5>
            <button type="button" id="closeButtonForEditModal" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="closeEditModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="saveProfile()">
              <div class="form-group">
                <label for="name">Nom</label>
                <input
                  type="text"
                  id="name"
                  [(ngModel)]="editableUser.nom"
                  name="name"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="contact">Contact</label>
                <input
                  type="text"
                  id="contact"
                  [(ngModel)]="editableUser.contact"
                  name="contact"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="adoptionSituation">Adoption Situation</label>
                <input
                  type="text"
                  id="adoptionSituation"
                  [(ngModel)]="editableUser.adoptionSituation"
                  name="adoptionSituation"
                  class="form-control"
                  required
                />
              </div>
           
              <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
              <button type="button" class="btn btn-secondary mt-3" (click)="closeEditModal()" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  