<div>
    <div class="mb-3">
      <button class="btn btn-outline-primary me-2">Dog</button>
      <button class="btn btn-outline-primary me-2">Cat</button>
      <button class="btn btn-outline-primary">Other</button>
    </div>
    <div class="mb-3">
      <select class="form-select">
        <option selected>Select from menu...</option>
        <option value="1">Breed 1</option>
        <option value="2">Breed 2</option>
        <option value="3">Breed 3</option>
      </select>
    </div>

    <button class="btn btn-primary w-100">Start Your Search</button>
  </div>
  